//  Button Module -------------------------------------------------------------
//
// Sets some default styles for elements that are usually used for buttons,
// such as <button> and <a> elements

%button {
	display: inline-block;
	background: none;
	border: none;
	font-family: $font-stack;
	text-decoration: none;
	line-height: 1;
	transition:  background-color 0.15s;
	font-weight: normal;

	&:hover,
	&:focus {
		text-decoration: none;
	}
	
	&:disabled {
		opacity: 0.5;
	}
}

// Modifiers ------------------------------------------------------------------
//

%blue-button {
	@extend %button;
	@include rem(padding, 15);
	background-color: #31598a;
	color: white;
	
	&:hover {
		background-color: tint(#31598a, 20);
	}
	&:active {
		background-color: shade(#31598a, 20);
	}
}

%grey-button {
	@extend %button;
	@include rem(padding, 15);
	color: $white;
	background-color: $grey;
	text-align: center;

	&:hover {
		background-color: tint($grey, 20);
	}
	&:active {
		background-color: shade($grey, 20);
	}
}