// Document -------------------------------------------------------------------

// Border-box rules!
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}

// Global styles
html,
body {
    font-family: $font-stack;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $light-grey;
    color: $dark-grey;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// MS viewport fix
// http://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

// MS touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button { -ms-touch-action: none !important; }