// Font-Face ------------------------------------------------------------------
//
// !! Add custom fonts to the font-stack in sass/base/config_site

@font-face {
    font-family: 'dax';
    src: url('../fonts/dax-regular-webfont.eot');
    src: url('../fonts/dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dax-regular-webfont.woff2') format('woff2'),
         url('../fonts/dax-regular-webfont.woff') format('woff'),
         url('../fonts/dax-regular-webfont.ttf') format('truetype'),
         url('../fonts/dax-regular-webfont.svg#dax-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}