// Form Module ----------------------------------------------------------------
//
// Not as much a module, but separated as one to group all form styles

label {
	position: relative;
	display: block;

	&:nth-last-child(n+3) {
		margin-bottom: rem(20);
	}

	&:nth-last-child(n+2) {
		@include media-max($default-column-breakpoint) {
			margin-bottom: rem(20);
		}
	}

	& + h2 {
		padding-top: rem(12);
	}

	span {
		display: block;
		margin-bottom: rem(5);
		text-transform: uppercase;
		font-weight: bold;
		color: $grey;
		font-size: rem(11);

		i {
			color: $reporting-error;
		}
	}

	&.is-invalid {
		span {
			color: $reporting-error;
		}
		input,
		select {
			border-color: $reporting-error-light;

			&:focus {
				border-color: $reporting-error;
			}
		}
	}
}

// NOTE
// 
// This selector will affect <input type="submit"> elements.
// Please use <button type="submit"></button> instead, unless
// you aren't planning on using any HTML5 input types

input {
	transition: border-color 0.15s;

	&[type=text],
	&[type=email],
	&[type=tel] {
		display: block;
		width: 100%;
		@include rem(padding, 10, 20, 8);
		border: 1px solid $light-grey;
		background: $white;
		@include rem(border-radius, 3);
		font-family: $font-stack;
		color: $black;
		line-height: 1.5;
		outline: none;
	}

	&[type=checkbox] {
		position: absolute;
		top: rem(3);
		left: 0;

		& + span {
			padding-left: rem(30);
			font-size: rem(13);
			text-transform: none;
			font-weight: normal;
		}
	} 


	&:focus {
		border-color: $grey;
	}
}

textarea {
	width:100% !important;
	border-radius:0.21429rem;
	border: 1px solid #e1e1e1;
}

button[type=submit] {
	@extend %blue-button;
}

.styled-select {
    width: 100%;
    height: 41px;
    overflow: hidden;
    border-radius: 3px;
    background: url("http://images.inform.janssen-emea.com/EloquaImages/clients/JanssenPharmaceutica/{c3405920-0fc4-4633-89d2-dc956d0b34a5}_caret-down.png") right 16px center no-repeat #FFF;
    background-size: 16px 16px;
    display: block;
    font-family: Verdana,Arial,Helvetica Roboto,sans-serif;
}

.styled-select select {
    background: 0 0;
    width: 100%;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 3px;
    height: 41px;
    -webkit-appearance: none;
    -moz-appearance:none;
    outline: 0;
    border: 1px solid $light-grey;
    color: $black;
	transition: border-color 0.15s;

    &:focus {
   		border-color: $grey;
    }
}