// Reporting Module -----------------------------------------------------------
//
// For everyone's feedback needs, the reporting module will provide
// Easily setup Success, Error, Warning, and Info messages and lists
//
// Also, see the Utils.insertReporting() function for usage through javascipt

.report
{
	color: $reporting-text;
	border: 1px solid transparent;
	@include rem(padding, 10, 20);
	@include rem(margin, 0, 0, strip($base-font-size)*1.5);

	&:last-of-type:last-child,
	& > *:last-child { margin-bottom: 0; }

	& > *:first-child { margin-top: 0; }
}

ul.report,
ol.report
{ @include rem(padding-left, 35); }

// Modifiers ------------------------------------------------------------------
//
// Note: colors are set in _config_site.scss

.report--success
{
	@extend .report;

	background: $reporting-success-light;
	border-color: $reporting-success;

	a, a:visited, a:hover, a:active { color: shade($reporting-success, 60); }
}

.report--error
{
	@extend .report;

	margin-top: rem(24);
	margin-bottom: 0;


	background: $reporting-error-light;
	border-color: $reporting-error;

	a, a:visited, a:hover, a:active { color: shade($reporting-error, 60); }
}

form .report--error {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

	@include media-max($default-column-breakpoint) {
		width: 100%;
	}
}

form .program-button-grey + .report--error {
	@include column(6, true);
}

.report--warning
{
	@extend .report;

	background: $reporting-warning-light;
	border-color: $reporting-warning;

	a, a:visited, a:hover, a:active { color: shade($reporting-warning, 60); }
}

.report--info
{
	@extend .report;

	background: $reporting-info-light;
	border-color: $reporting-info;

	a, a:visited, a:hover, a:active { color: shade($reporting-info, 60); }
}
