// Accent colors --------------------------------------------------------------
$dark-blue: #31598a;
$light-blue: #00a0df;
$dark-grey: #4e5054;
$grey: #828282;
$light-grey: #E1E1E1;

$cerulean: #00A1DE;
$apple-green: #339933;
$sapphire: #2E539F;


// Greys ----------------------------------------------------------------------
$janssen-lightgray: #EFEFEF;
$janssen-gray: #828282;
$white: #FFF;
$black: #000;

// Reporting ------------------------------------------------------------------
//
// Using in the Reporting module (module/_reporting.scss)

$reporting-text: #333333;

$reporting-success: #A2D69A;
$reporting-success-light: #DEF1DD;
$reporting-error: #F39B88;
$reporting-error-light: #FADCD7;
$reporting-warning: #F7E287;
$reporting-warning-light: #FCF5D6;
$reporting-info: #90B1D2;
$reporting-info-light: #DAE5F0;

// Font-stack -----------------------------------------------------------------
//
// Helvetica Neue is nice to have
// Helvetica is the aimed-for default
// Verdana is available on iOS, WP and BlackBerry
// Roboto should be available on Android
// Fall back to any sans-serif
//
// http://www.jordanm.co.uk/tinytype

$font-stack: Verdana, Arial, Helvetica Roboto, sans-serif;
