// Library imports ------------------------------------------------------------
//
// Links to common libraries are included below. Place the files at the root 
// of the sass folder

//@import '../libs/...';

// Global vars ----------------------------------------------------------------

$base-font-size: 14px;
$base-line-height: 	1.5;
$total-columns: 12;
$default-gutter-width: 7% !default;
$default-column-breakpoint: 650px;
$max-container-width: 960px; 
$min-page-padding: 0px; 

// Imports --------------------------------------------------------------------

@import '../mixin/all';
@import 'base/functions';
