	
	<!-- <script type="text/javascript" src="assets/js/main.js"></script> -->
	<!-- inject:js --><!-- endinject -->

	<!--[if lt IE 9]>
    <script src="assets/js/ie-body.min.js"></script>
    <![endif]-->
    </body>
</html>
