// General imports ------------------------------------------------------------
//
// These imports don't generate CSS, but make defined variables, functions,
// and mixins available for further usage

@import 'base/config_global';
@import 'base/config_site';
@import 'base/state';

// Normalize and document imports ---------------------------------------------

@import 'module/normalize';
@import 'module/doc';

// Module imports -------------------------------------------------------------

@import 'module/container';
@import 'module/font';
//@import 'module/text';
@import 'module/reporting';
@import 'module/form';
@import 'module/button';

// Vendor imports -------------------------------------------------------------

//@import 'vendor/somestyles';

// Styles ---------------------------------------------------------------------

a {
	color: $cerulean;
	font-weight: bold;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: underline;
		color: tint($cerulean, 40%);
	}
}

h2 {
	font-size: rem(20);
	color: $dark-blue;
	padding-bottom: rem(8);
}

h3 {
	font-size: rem(16);
	padding-bottom: rem(12);
	padding-top: rem(8);
	color: $dark-blue;
}

p {
	margin-bottom: 20px;
	margin-top:20px;

	&:first-child:last-child,
	&:last-child {
		margin-bottom: 0;
	}
}

.legal p {
	margin-bottom: rem(12);
}

.legal ul {
	padding-left: rem(16);

	li {
		padding-bottom: rem(8);

		&:last-child {
			padding-bottom: 0;
		}
	}

	& + p {
		padding-top: rem(12);
	}
}

hr {
	height: 1px;
	margin: rem(24) 0;
	background-color: $light-grey;
	border: none;
}

.is-hidden {
	@extend %is-hidden;
}

.col-6 {
	@include column(6);

	&:nth-child(even) {
		@include column(6, true);
	}
}
.col-12 {
	@include column(12);

	&:nth-child(even) {
		@include column(12, true);
	}
}
.col-4 {
	@include column(4);

	&:nth-child(even) {
		@include column(4, true);
	}
}

.col-10 {
	@include column(10);

	&:nth-child(even) {
		@include column(10, true);
	}
}


.browserupgrade {
	text-align: center;
	padding-top: 20px;
}

.mb-less {
	margin-bottom: rem(8);
}

.c--reporting-error {
	color: $apple-green;
}

// Header ---------------------------------------------------------------------



// Main -----------------------------------------------------------------------

.main-container {
	@extend %is-cf;
	padding: 40px;
	padding-top:10px;

	@include media-max($default-column-breakpoint) {
		padding: 40px 20px;
	}
}
	.clear {
		@extend %is-cf;

		& + p {
			padding-top: rem(24);
		}
	}

	.info-wrapper {
		@include column(6, true);
		@include media-max($default-column-breakpoint) {
			padding-bottom: rem(20);
		}
	}

	.info-program {
		padding-bottom: rem(20);

		.col-6:last-child {
			@include media-max($default-column-breakpoint) {
				padding-top: 0;
				padding-bottom: rem(20);
			}
		}
	}

	.info {
		@include column(6);

		@include media-max($default-column-breakpoint) {
			@include rem(padding-bottom, 20);
			@include rem(margin-bottom, 20);
			border-bottom: 1px solid $light-grey;
		}
	}

		.info-logo {
			display: block;
			@include rem(margin-bottom, 20);
		}

		.info-date,
		.info-location{
			position: relative;
			@include rem(padding-left, 40);
			color: $grey;

			& i {
				position: absolute;
				@include rem(top, 2);
				left: 0;
				content: '';
				display: block;
				width: 18px;
				height: 18px;
			}
		}
		.info-date i {
			background: url("http://images.inform.janssen-emea.com/Web/JanssenPharmaceutica/{819b6b8a-07c2-46e6-bd81-6daac424570f}_date-icon.jpg") center center no-repeat;
			background-size: 100% 100%;
		}
		.info-location i {
			background: url("http://images.inform.janssen-emea.com/Web/JanssenPharmaceutica/{f542cef4-015f-4ae4-af12-9904c00e2739}_location-icon.jpg") center center no-repeat;
			background-size: 100% 100%;
		}

	form {
		button[type=submit] {
			margin-top: rem(24);
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			display: block;

			@include media-max($default-column-breakpoint) {
				width: 100%;
			}
		}
	}

	.schedule-wrapper {
		@include rem(margin-top, 20);
		border: 1px solid $light-grey;
		border-radius: 8px;

		ul,
		li {
			margin: 0;
			padding: 0;
		}
		li {
			position: relative;
			@include rem(padding, 20, 20, 20, 150);
			list-style-type: none;

			@include media-max($default-column-breakpoint){
				@include rem(padding, 20, 20, 20, 120);
			}
			
			&:nth-of-type(even) {
				background-color: tint($light-grey, 60);
			}

			time {
				position: absolute;
				@include rem(top, 21);
				@include rem(left, 20);

				color: $grey;
				font-size: em(14);
			}
		}

		h3 {
			@include rem(margin, 0, 0, 25);
			font-size: em(18);
			line-height: 1.3;
			color: $dark-blue;
		}
	}

	.program-button-grey {
		@extend %grey-button;
		margin-bottom: rem(20);

		&.last {
			margin: rem(28) 0 0;
		}
	}

	form .program-button-grey:last-child {
		@include column(6);
		clear: left;

		@include media-max($default-column-breakpoint) {
			margin-top: rem(20);
		}
	}

	.program-button-blue {
		@extend %blue-button;
		width: 100%;
		max-width: 500px;
		display: block;
		text-align: center;
		margin: rem(24) auto;
	}

	.zinc {
		display: block;
		@include rem(margin-top, 20);
		font-size: em(10);
		color: $grey;
		text-align: right;

		@include media-max(460) {
			text-align: center;
		}
	}
.space{
	margin-bottom:20px;
}
.space_top{
	margin-bottom:10px;
}
.title-bar{
	padding:40px;
}
.checkbox span{
	margin-left:1.3rem;
	margin-bottom:0;
}
input[type=checkbox]{
	top:0.15rem;
}
i{
	color:#66c7eb !important;
}
.extra-p-t{
	padding-top:30px;
}
// Footer ---------------------------------------------------------------------

footer {
	border-top: 1px solid $light-grey;
	text-align:right;
	@include rem(padding-top, 40);
	@include rem(margin-top, 20);
}

	.janssen-logo {
		width: 295px;
		height: 84px;
		display: inline-block;
		margin: 0 auto;
		background: url("../images/janssen-logo-v3.jpg") no-repeat left top;
		background-size: 295px 84px;

		@include highres() {
			background-image: url("../images/janssen-logo-v3@2x 2x.jpg");
		}

		@include media-max(600) {
			float: none;
			margin: 0 auto;
		}
	}
	.grappa-logo {
		width: 295px;
		height: 60px;
		display: inline-block;
		margin: 0 auto;
		background: url("../images/grappa-logo.jpg") no-repeat left top;
		background-size: 295px 60px;

		@include highres() {
			background-image: url("../images/grappa-logo@2x 2x.jpg");
		}

		@include media-max(600) {
			float: none;
			margin: 0 auto;
		}
	}

.footer--main {
	background-color: $dark-blue;
	text-align: center;
	padding: rem(32) rem(20);

	a {
		color: $white;
		display: inline-block;
		margin-right: rem(16);

		&:last-child {
			margin-right: 0;
		}
	}
}

	.links {
	    text-align: center;
	    margin: 0 auto;

	    @include media-max($default-column-breakpoint) {
	    	width: 100%;
	    }

	    a {
	    	color: $white;
	      	margin: 0 0.75rem;
	    }
	}

table {
	width: 100%;
	font-size: rem(12);
	margin-bottom: rem(16);

	@include media-max($default-column-breakpoint) {
		display: block;
		overflow-x: auto;
	}

	th {
		background-color: $sapphire;
		color: $white;
	}

	th, td {
		width: 20%;
		border: 1px solid $light-grey;
		padding: rem(12);
		vertical-align: top;
	}

	td:first-child {
		font-weight: bold;
	}
}

.copyright {
	display: block;
	padding-top: rem(24);
	font-size: rem(10);
}

.padd-t-b-20 {
	padding-top: 20px;
	padding-bottom: 15px;
}

.word-break {
	word-break: break-all !important;
}

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

//@import 'module/print';

.radio {
	min-height: rem(65);
	span{
		display: inline-block;
		margin-left: 0;
		position: relative;
		bottom: 2px;
	}
	@include media-max($default-column-breakpoint) {
		label:nth-last-child(n+2){
			margin-bottom: 0;
		}
	}
}

option[value=""][disabled] {
  color: red;
}
.italic{
	font-style: italic;
}


.table--order {
	width: 100%;
	border: 1px solid $janssen-lightgray;

	@include media-max(550) {
		font-size: rem(14);
	}

	&.wide {
		@include media-max(500) {
			font-size: rem(10);
			line-height: 150%;
		}

		@include media-max(450) {
			input + span:before {
				width: rem(12);
				height: rem(12);
			}
		}

		@include media-max(400) {
			input + span:before {
				width: rem(8);
				height: rem(8);
			}
		}
	}

	th,
	td label {
		padding: rem(8) rem(20);
		text-align: center;

		@include media-max(800) {
			padding: rem(8);
		}
	}
	td, th{
		width:10%;
	}
	td:first-child {
		padding: rem(8) rem(20);
		width: auto;
		width: 50%;

		@include media-max(800) {
			padding: rem(8);
		}
	}

	th {
		background-color: $janssen-gray;
		color: $white;
	}

	tr:nth-child(even) {
		background-color: $janssen-lightgray;
	}

	input + span {
		padding: 0;

		&:before {
			position: static;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.text {
		text-align: left;
		padding: 0;
	}

	input[type=text] {
		width: 100%;
		margin-top: rem(8);
	}

	&.variant-1 {
		td:first-child {
			width: 40%;
		}
	}

	&.variant-2 {
		table-layout: fixed;
	}

	& + textarea {
		margin-top: rem(16);
	}
}

.is-invalid td{
	color: #F39B88;
}