
<small class="copyright">
	PHGB/MEDed/0217/0003b | April 2017 
</small>
<footer>
	<div class="clear">
		<div class="janssen-logo"><span class="is-hidden">Janssen &mdash; Pharmaceutical Companies of Johnson&amp;Johnson</span></div>
	</div>
</footer>