.is-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  opacity: 0; }

header:before,
main:before, .main-container:before, .clear:before,
header:after,
main:after,
.main-container:after,
.clear:after {
  content: '';
  display: table; }

header:after,
main:after, .main-container:after, .clear:after {
  clear: both; }

header,
main, .main-container, .clear {
  *zoom: 1; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/********************************************
  Tag Resets
********************************************/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html,
body {
  font-family: Verdana, Arial, Helvetica Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #E1E1E1;
  color: #4e5054;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
a,
input,
button {
  -ms-touch-action: none !important; }

header,
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFF; }
  header img,
  main img {
    height: auto;
    max-width: 100%;
    height: auto !important;
    vertical-align: middle; }

@font-face {
  font-family: 'dax';
  src: url("../fonts/dax-regular-webfont.eot");
  src: url("../fonts/dax-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dax-regular-webfont.woff2") format("woff2"), url("../fonts/dax-regular-webfont.woff") format("woff"), url("../fonts/dax-regular-webfont.ttf") format("truetype"), url("../fonts/dax-regular-webfont.svg#dax-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.report, .report--success, .report--error, .report--warning, .report--info {
  color: #333333;
  border: 1px solid transparent;
  padding: 10px 20px;
  padding: 0.71429rem 1.42857rem;
  margin: 0px 0px 21px;
  margin: 0rem 0rem 1.5rem; }
  .report:last-of-type:last-child, .report--success:last-of-type:last-child, .report--error:last-of-type:last-child, .report--warning:last-of-type:last-child, .report--info:last-of-type:last-child, .report > *:last-child, .report--success > *:last-child, .report--error > *:last-child, .report--warning > *:last-child, .report--info > *:last-child {
    margin-bottom: 0; }
  .report > *:first-child, .report--success > *:first-child, .report--error > *:first-child, .report--warning > *:first-child, .report--info > *:first-child {
    margin-top: 0; }

ul.report, ul.report--success, ul.report--error, ul.report--warning, ul.report--info,
ol.report,
ol.report--success,
ol.report--error,
ol.report--warning,
ol.report--info {
  padding-left: 35px;
  padding-left: 2.5rem; }

.report--success {
  background: #DEF1DD;
  border-color: #A2D69A; }
  .report--success a, .report--success a:visited, .report--success a:hover, .report--success a:active {
    color: #41563e; }

.report--error {
  margin-top: 1.71429rem;
  margin-bottom: 0;
  background: #FADCD7;
  border-color: #F39B88; }
  .report--error a, .report--error a:visited, .report--error a:hover, .report--error a:active {
    color: #613e36; }

form .report--error {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 46.42857em) {
    form .report--error {
      width: 100%; } }

form .program-button-grey + .report--error {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    form .program-button-grey + .report--error {
      float: right;
      clear: right;
      margin-right: 0;
      width: 46.5%; } }

.report--warning {
  background: #FCF5D6;
  border-color: #F7E287; }
  .report--warning a, .report--warning a:visited, .report--warning a:hover, .report--warning a:active {
    color: #635a36; }

.report--info {
  background: #DAE5F0;
  border-color: #90B1D2; }
  .report--info a, .report--info a:visited, .report--info a:hover, .report--info a:active {
    color: #3a4754; }

label {
  position: relative;
  display: block; }
  label:nth-last-child(n+3) {
    margin-bottom: 1.42857rem; }
  @media screen and (max-width: 46.42857em) {
    label:nth-last-child(n+2) {
      margin-bottom: 1.42857rem; } }
  label + h2 {
    padding-top: 0.85714rem; }
  label span {
    display: block;
    margin-bottom: 0.35714rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #828282;
    font-size: 0.78571rem; }
    label span i {
      color: #F39B88; }
  label.is-invalid span {
    color: #F39B88; }
  label.is-invalid input,
  label.is-invalid select {
    border-color: #FADCD7; }
    label.is-invalid input:focus,
    label.is-invalid select:focus {
      border-color: #F39B88; }

input {
  transition: border-color 0.15s; }
  input[type=text], input[type=email], input[type=tel] {
    display: block;
    width: 100%;
    padding: 10px 20px 8px;
    padding: 0.71429rem 1.42857rem 0.57143rem;
    border: 1px solid #E1E1E1;
    background: #FFF;
    border-radius: 3px;
    border-radius: 0.21429rem;
    font-family: Verdana, Arial, Helvetica Roboto, sans-serif;
    color: #000;
    line-height: 1.5;
    outline: none; }
  input[type=checkbox] {
    position: absolute;
    top: 0.21429rem;
    left: 0; }
    input[type=checkbox] + span {
      padding-left: 2.14286rem;
      font-size: 0.92857rem;
      text-transform: none;
      font-weight: normal; }
  input:focus {
    border-color: #828282; }

textarea {
  width: 100% !important;
  border-radius: 0.21429rem;
  border: 1px solid #e1e1e1; }

.styled-select {
  width: 100%;
  height: 41px;
  overflow: hidden;
  border-radius: 3px;
  background: url("http://images.inform.janssen-emea.com/EloquaImages/clients/JanssenPharmaceutica/{c3405920-0fc4-4633-89d2-dc956d0b34a5}_caret-down.png") right 16px center no-repeat #FFF;
  background-size: 16px 16px;
  display: block;
  font-family: Verdana,Arial,Helvetica Roboto,sans-serif; }

.styled-select select {
  background: 0 0;
  width: 100%;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 3px;
  height: 41px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  border: 1px solid #E1E1E1;
  color: #000;
  transition: border-color 0.15s; }
  .styled-select select:focus {
    border-color: #828282; }

button[type=submit], .program-button-blue, .program-button-grey {
  display: inline-block;
  background: none;
  border: none;
  font-family: Verdana, Arial, Helvetica Roboto, sans-serif;
  text-decoration: none;
  line-height: 1;
  transition: background-color 0.15s;
  font-weight: normal; }
  button[type=submit]:hover, .program-button-blue:hover, .program-button-grey:hover, button[type=submit]:focus, .program-button-blue:focus, .program-button-grey:focus {
    text-decoration: none; }
  button[type=submit]:disabled, .program-button-blue:disabled, .program-button-grey:disabled {
    opacity: 0.5; }

button[type=submit], .program-button-blue {
  padding: 15px;
  padding: 1.07143rem;
  background-color: #31598a;
  color: white; }
  button[type=submit]:hover, .program-button-blue:hover {
    background-color: #5a7aa1; }
  button[type=submit]:active, .program-button-blue:active {
    background-color: #27476e; }

.program-button-grey {
  padding: 15px;
  padding: 1.07143rem;
  color: #FFF;
  background-color: #828282;
  text-align: center; }
  .program-button-grey:hover {
    background-color: #9b9b9b; }
  .program-button-grey:active {
    background-color: #686868; }

a {
  color: #00A1DE;
  font-weight: bold;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none;
    text-decoration: underline;
    color: #66c7eb; }

h2 {
  font-size: 1.42857rem;
  color: #31598a;
  padding-bottom: 0.57143rem; }

h3 {
  font-size: 1.14286rem;
  padding-bottom: 0.85714rem;
  padding-top: 0.57143rem;
  color: #31598a; }

p {
  margin-bottom: 20px;
  margin-top: 20px; }
  p:first-child:last-child, p:last-child {
    margin-bottom: 0; }

.legal p {
  margin-bottom: 0.85714rem; }

.legal ul {
  padding-left: 1.14286rem; }
  .legal ul li {
    padding-bottom: 0.57143rem; }
    .legal ul li:last-child {
      padding-bottom: 0; }
  .legal ul + p {
    padding-top: 0.85714rem; }

hr {
  height: 1px;
  margin: 1.71429rem 0;
  background-color: #E1E1E1;
  border: none; }

.col-6 {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .col-6 {
      float: left;
      margin-right: 7%;
      width: 46.5%; } }
  .col-6:nth-child(even) {
    display: block;
    vertical-align: top;
    width: 100%; }
    @media screen and (min-width: 46.42857em) {
      .col-6:nth-child(even) {
        float: right;
        clear: right;
        margin-right: 0;
        width: 46.5%; } }

.col-12 {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .col-12 {
      float: left;
      margin-right: 7%;
      width: 100%; } }
  .col-12:nth-child(even) {
    display: block;
    vertical-align: top;
    width: 100%; }
    @media screen and (min-width: 46.42857em) {
      .col-12:nth-child(even) {
        float: right;
        clear: right;
        margin-right: 0;
        width: 100%; } }

.col-4 {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .col-4 {
      float: left;
      margin-right: 7%;
      width: 28.66667%; } }
  .col-4:nth-child(even) {
    display: block;
    vertical-align: top;
    width: 100%; }
    @media screen and (min-width: 46.42857em) {
      .col-4:nth-child(even) {
        float: right;
        clear: right;
        margin-right: 0;
        width: 28.66667%; } }

.col-10 {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .col-10 {
      float: left;
      margin-right: 7%;
      width: 82.16667%; } }
  .col-10:nth-child(even) {
    display: block;
    vertical-align: top;
    width: 100%; }
    @media screen and (min-width: 46.42857em) {
      .col-10:nth-child(even) {
        float: right;
        clear: right;
        margin-right: 0;
        width: 82.16667%; } }

.browserupgrade {
  text-align: center;
  padding-top: 20px; }

.mb-less {
  margin-bottom: 0.57143rem; }

.c--reporting-error {
  color: #339933; }

.main-container {
  padding: 40px;
  padding-top: 10px; }
  @media screen and (max-width: 46.42857em) {
    .main-container {
      padding: 40px 20px; } }

.clear + p {
  padding-top: 1.71429rem; }

.info-wrapper {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .info-wrapper {
      float: right;
      clear: right;
      margin-right: 0;
      width: 46.5%; } }
  @media screen and (max-width: 46.42857em) {
    .info-wrapper {
      padding-bottom: 1.42857rem; } }

.info-program {
  padding-bottom: 1.42857rem; }
  @media screen and (max-width: 46.42857em) {
    .info-program .col-6:last-child {
      padding-top: 0;
      padding-bottom: 1.42857rem; } }

.info {
  display: block;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 46.42857em) {
    .info {
      float: left;
      margin-right: 7%;
      width: 46.5%; } }
  @media screen and (max-width: 46.42857em) {
    .info {
      padding-bottom: 20px;
      padding-bottom: 1.42857rem;
      margin-bottom: 20px;
      margin-bottom: 1.42857rem;
      border-bottom: 1px solid #E1E1E1; } }

.info-logo {
  display: block;
  margin-bottom: 20px;
  margin-bottom: 1.42857rem; }

.info-date,
.info-location {
  position: relative;
  padding-left: 40px;
  padding-left: 2.85714rem;
  color: #828282; }
  .info-date i,
  .info-location i {
    position: absolute;
    top: 2px;
    top: 0.14286rem;
    left: 0;
    content: '';
    display: block;
    width: 18px;
    height: 18px; }

.info-date i {
  background: url("http://images.inform.janssen-emea.com/Web/JanssenPharmaceutica/{819b6b8a-07c2-46e6-bd81-6daac424570f}_date-icon.jpg") center center no-repeat;
  background-size: 100% 100%; }

.info-location i {
  background: url("http://images.inform.janssen-emea.com/Web/JanssenPharmaceutica/{f542cef4-015f-4ae4-af12-9904c00e2739}_location-icon.jpg") center center no-repeat;
  background-size: 100% 100%; }

form button[type=submit] {
  margin-top: 1.71429rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  @media screen and (max-width: 46.42857em) {
    form button[type=submit] {
      width: 100%; } }

.schedule-wrapper {
  margin-top: 20px;
  margin-top: 1.42857rem;
  border: 1px solid #E1E1E1;
  border-radius: 8px; }
  .schedule-wrapper ul,
  .schedule-wrapper li {
    margin: 0;
    padding: 0; }
  .schedule-wrapper li {
    position: relative;
    padding: 20px 20px 20px 150px;
    padding: 1.42857rem 1.42857rem 1.42857rem 10.71429rem;
    list-style-type: none; }
    @media screen and (max-width: 46.42857em) {
      .schedule-wrapper li {
        padding: 20px 20px 20px 120px;
        padding: 1.42857rem 1.42857rem 1.42857rem 8.57143rem; } }
    .schedule-wrapper li:nth-of-type(even) {
      background-color: #f3f3f3; }
    .schedule-wrapper li time {
      position: absolute;
      top: 21px;
      top: 1.5rem;
      left: 20px;
      left: 1.42857rem;
      color: #828282;
      font-size: 1em; }
  .schedule-wrapper h3 {
    margin: 0px 0px 25px;
    margin: 0rem 0rem 1.78571rem;
    font-size: 1.28571em;
    line-height: 1.3;
    color: #31598a; }

.program-button-grey {
  margin-bottom: 1.42857rem; }
  .program-button-grey.last {
    margin: 2rem 0 0; }

form .program-button-grey:last-child {
  display: block;
  vertical-align: top;
  width: 100%;
  clear: left; }
  @media screen and (min-width: 46.42857em) {
    form .program-button-grey:last-child {
      float: left;
      margin-right: 7%;
      width: 46.5%; } }
  @media screen and (max-width: 46.42857em) {
    form .program-button-grey:last-child {
      margin-top: 1.42857rem; } }

.program-button-blue {
  width: 100%;
  max-width: 500px;
  display: block;
  text-align: center;
  margin: 1.71429rem auto; }

.zinc {
  display: block;
  margin-top: 20px;
  margin-top: 1.42857rem;
  font-size: 0.71429em;
  color: #828282;
  text-align: right; }
  @media screen and (max-width: 32.85714em) {
    .zinc {
      text-align: center; } }

.space {
  margin-bottom: 20px; }

.space_top {
  margin-bottom: 10px; }

.title-bar {
  padding: 40px; }

.checkbox span {
  margin-left: 1.3rem;
  margin-bottom: 0; }

input[type=checkbox] {
  top: 0.15rem; }

i {
  color: #66c7eb !important; }

.extra-p-t {
  padding-top: 30px; }

footer {
  border-top: 1px solid #E1E1E1;
  text-align: right;
  padding-top: 40px;
  padding-top: 2.85714rem;
  margin-top: 20px;
  margin-top: 1.42857rem; }

.janssen-logo {
  width: 295px;
  height: 84px;
  display: inline-block;
  margin: 0 auto;
  background: url("../images/janssen-logo-v3.jpg") no-repeat left top;
  background-size: 295px 84px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .janssen-logo {
      background-image: url("../images/janssen-logo-v3@2x 2x.jpg"); } }
  @media screen and (max-width: 42.85714em) {
    .janssen-logo {
      float: none;
      margin: 0 auto; } }

.grappa-logo {
  width: 295px;
  height: 60px;
  display: inline-block;
  margin: 0 auto;
  background: url("../images/grappa-logo.jpg") no-repeat left top;
  background-size: 295px 60px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .grappa-logo {
      background-image: url("../images/grappa-logo@2x 2x.jpg"); } }
  @media screen and (max-width: 42.85714em) {
    .grappa-logo {
      float: none;
      margin: 0 auto; } }

.footer--main {
  background-color: #31598a;
  text-align: center;
  padding: 2.28571rem 1.42857rem; }
  .footer--main a {
    color: #FFF;
    display: inline-block;
    margin-right: 1.14286rem; }
    .footer--main a:last-child {
      margin-right: 0; }

.links {
  text-align: center;
  margin: 0 auto; }
  @media screen and (max-width: 46.42857em) {
    .links {
      width: 100%; } }
  .links a {
    color: #FFF;
    margin: 0 0.75rem; }

table {
  width: 100%;
  font-size: 0.85714rem;
  margin-bottom: 1.14286rem; }
  @media screen and (max-width: 46.42857em) {
    table {
      display: block;
      overflow-x: auto; } }
  table th {
    background-color: #2E539F;
    color: #FFF; }
  table th, table td {
    width: 20%;
    border: 1px solid #E1E1E1;
    padding: 0.85714rem;
    vertical-align: top; }
  table td:first-child {
    font-weight: bold; }

.copyright {
  display: block;
  padding-top: 1.71429rem;
  font-size: 0.71429rem; }

.padd-t-b-20 {
  padding-top: 20px;
  padding-bottom: 15px; }

.word-break {
  word-break: break-all !important; }

.radio {
  min-height: 4.64286rem; }
  .radio span {
    display: inline-block;
    margin-left: 0;
    position: relative;
    bottom: 2px; }
  @media screen and (max-width: 46.42857em) {
    .radio label:nth-last-child(n+2) {
      margin-bottom: 0; } }

option[value=""][disabled] {
  color: red; }

.italic {
  font-style: italic; }

.table--order {
  width: 100%;
  border: 1px solid #EFEFEF; }
  @media screen and (max-width: 39.28571em) {
    .table--order {
      font-size: 1rem; } }
  @media screen and (max-width: 35.71429em) {
    .table--order.wide {
      font-size: 0.71429rem;
      line-height: 150%; } }
  @media screen and (max-width: 32.14286em) {
    .table--order.wide input + span:before {
      width: 0.85714rem;
      height: 0.85714rem; } }
  @media screen and (max-width: 28.57143em) {
    .table--order.wide input + span:before {
      width: 0.57143rem;
      height: 0.57143rem; } }
  .table--order th,
  .table--order td label {
    padding: 0.57143rem 1.42857rem;
    text-align: center; }
    @media screen and (max-width: 57.14286em) {
      .table--order th,
      .table--order td label {
        padding: 0.57143rem; } }
  .table--order td, .table--order th {
    width: 10%; }
  .table--order td:first-child {
    padding: 0.57143rem 1.42857rem;
    width: auto;
    width: 50%; }
    @media screen and (max-width: 57.14286em) {
      .table--order td:first-child {
        padding: 0.57143rem; } }
  .table--order th {
    background-color: #828282;
    color: #FFF; }
  .table--order tr:nth-child(even) {
    background-color: #EFEFEF; }
  .table--order input + span {
    padding: 0; }
    .table--order input + span:before {
      position: static;
      display: inline-block;
      vertical-align: middle; }
  .table--order .text {
    text-align: left;
    padding: 0; }
  .table--order input[type=text] {
    width: 100%;
    margin-top: 0.57143rem; }
  .table--order.variant-1 td:first-child {
    width: 40%; }
  .table--order.variant-2 {
    table-layout: fixed; }
  .table--order + textarea {
    margin-top: 1.14286rem; }

.is-invalid td {
  color: #F39B88; }
