{{> layout/header}}

<header>
	
	{{> partials/header-img}}

</header>

<main>
	<div class="main-container">
		<div class="clear">
			<div class="col-12">
				<p>Janssen are delighted to invite you to the <b>Immune Mediated Inflammatory Diseases (IMID) Summit</b> meeHng taking place at the <b>Royal College of Physicians in London. </b><br><br>
				The meeHng itself will commence on <b>Friday 24<sup>th</sup> November</b> at 9.00am and is just a short walk from the Melia White House hotel. <br><br>
				Please proceed through the registraHon site to confirm your a]endance and register for the meeHng. Should you have any dietary requirements, please list these in the appropriate secHon of the registraHon form.</p>
			</div>
			
		</div>

		<hr>

						<h2>Contact Details</h2>

						<p>Please complete the following information:</p>
						<p><small><span class="c--reporting-error" style="color:#66c7eb;">*</span> Indicates required field</small></p>

						<div class="clear">

							<label class="col-6">
								<span>Please select your therapy area: <i>*</i></span>
								<div class="styled-select">
									<select id="therapy-field" name="therapy" required class="">
										<option value="" disabled selected hidden>Please select your option...</option>
										<option value="volvo">Dermatology</option>
										<option value="saab">Rheumatology</option>
									</select>
								</div>
							</label>
							<div class="col-6 clear">
							</div>

							<label class="col-6">
								<span>Title</span>
								<input type="text" id="title-field" name="title">
							</label>
							<label class="col-6">
								<span>Organisation: <i>*</i></span>
								<input type="text" id="organisation-field" name="organisation" required>
							</label>



							<label class="col-6">
								<span>First Name: <i>*</i></span>
								<input type="text" id="firstname-field" name="firstName" required>
							</label>
							<label class="col-6">
								<span>Contact Number:</span>
								<input type="text" id="nr-field" name="number">
							</label>



							<label class="col-6">
								<span>Last Name: <i>*</i></span>
								<input type="text" id="lastname-field" name="lastName" required>
							</label>
							<label class="col-6">
								<span>Position:</span>
								<input type="text" id="position-field" name="position">
							</label>

							<label class="col-6">
								<span>Email Address: <i>*</i></span>
								<input type="email" id="email-field" name="emailAddress" required>
							</label>
							<label class="col-6">
								<span>Dietary Requirements:</span>
								<input type="text" id="dietary-field" name="dietaryRequirements">
							</label>
							<div class="col-12 italic">Please note that your name and organization inputted into the registraton form will be used to create name badges for the meeting.</div>

						</div>

						<hr>
						<h3>Travel Requirements</h3>
						<p>Please note the following stipulation – although travel will not be provided for meeting attendees on this occasion, please state below how you intend on travelling to the meeting so that we are aware for logistical purposes:  </p>

						<div class="clear">
							<label class="col-6">
								<span>Mode of transport:</span>
								<input type="text" id="airport-field" name="airportdepart">
							</label>
							<label class="col-6">
								<span>Estimated time of arrival:</span>
								<input type="text" id="airport-time-field" name="timedepart">
							</label>

						</div>
						<hr>
						<h3>Accommodation</h3>
						<p>Accommodation is reserved at the Melia Whitehouse Hotel for one night based on a single occupancy basis. <br><br>
						Your accommodation and breakfast will be pre-paid on your behalf. Please note any incidental charges such as mini-bar, room service, laundry etc will not be covered and should be settled directly upon check out. <br><br>
						Check In - Thursday 23rd November <br>
						Check Out - Friday 24th November

						<div class="padd-t-b-20 radio">
							<label class="col-12">
								<input type="radio" id="accommodation-field" name="accommodation">
								<span>I will require accommodation</span>
							</label>
							<label class="col-12">
								<input type="radio" id="accommodation-field" name="accommodation">
								<span>I will not require accommodation </span>
							</label>
						</div>

						<hr>
						<h3>Workshop allocation</h3>
						<p><strong>Comorbidity workshops</strong> <br><br>
						Participants will be required to attend <strong>two</strong> of the five workshops on offer for their workshop rotations. <br>
						Participants will need to rank the workshops in order of preference, and will be allocated to workshops based on their availability: <br><br>
						
		<form action="https://s1988571858.t.eloqua.com/e/f2" method="POST" name="CHANGEME" id="register-form" novalidate>
						<fieldset class="step" data-step="2" data-type="rank">
				<p class="question">
					Please rank the 5 workshops in order of preference <i>*</i></p>
				</p>
						<table class="table--order">
					<tr>
						<th></th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
					</tr>
					<tr class="other">
						<td>Ocular conditions</td>
						<td><label><input type="radio" value="1" name="Gastro-intestinal conditions"><span></span></label></td>
						<td><label><input type="radio" value="2" name="Gastro-intestinal conditions"><span></span></label></td>
						<td><label><input type="radio" value="3" name="Gastro-intestinal conditions"><span></span></label></td>
						<td><label><input type="radio" value="4" name="Gastro-intestinal conditions"><span></span></label></td>
						<td><label><input type="radio" value="5" name="Gastro-intestinal conditions"><span></span></label></td>
					</tr>
					<tr class="other">
						<td>Obesity and cardio-metabolic conditions</td>
						<td><label><input type="radio" value="1" name="Obesity and cardio-metabolic conditions"><span></span></label></td>
						<td><label><input type="radio" value="2" name="Obesity and cardio-metabolic conditions"><span></span></label></td>
						<td><label><input type="radio" value="3" name="Obesity and cardio-metabolic conditions"><span></span></label></td>
						<td><label><input type="radio" value="4" name="Obesity and cardio-metabolic conditions"><span></span></label></td>
						<td><label><input type="radio" value="5" name="Obesity and cardio-metabolic conditions"><span></span></label></td>
					</tr>
					<tr class="other">
						<td>Hepatological conditions</td>
						<td><label><input type="radio" value="1" name="Hepatological conditions"><span></span></label></td>
						<td><label><input type="radio" value="2" name="Hepatological conditions"><span></span></label></td>
						<td><label><input type="radio" value="3" name="Hepatological conditions"><span></span></label></td>
						<td><label><input type="radio" value="4" name="Hepatological conditions"><span></span></label></td>
						<td><label><input type="radio" value="5" name="Hepatological conditions"><span></span></label></td>
					</tr>
					<tr class="other">
						<td>Brain conditions</td>
						<td>
							<label>
								<input type="radio" value="1" name="Brain conditions"><span></span>
							</label>
						</td>
						<td>
							<label>
								<input type="radio" value="2" name="Brain conditions"><span></span>
							</label>
						</td>
						<td>
							<label>
								<input type="radio" value="3" name="Brain conditions"><span></span>
							</label>
						</td>
						<td>
							<label>
								<input type="radio" value="4" name="Brain conditions"><span></span>
							</label>
						</td>
						<td>
							<label>
								<input type="radio" value="5" name="Brain conditions"><span></span>
							</label>
						</td>
					</tr>
					<tr class="other">
						<td>Ocular conditions</td>
						<td><label><input type="radio" value="1" name="Ocular conditions"><span></span></label></td>
						<td><label><input type="radio" value="2" name="Ocular conditions"><span></span></label></td>
						<td><label><input type="radio" value="3" name="Ocular conditions"><span></span></label></td>
						<td><label><input type="radio" value="4" name="Ocular conditions"><span></span></label></td>
						<td><label><input type="radio" value="5" name="Ocular conditions"><span></span></label></td>
					</tr>
				</table>
					</fieldset>

		

			<input value="CHANGEME" type="hidden" name="elqFormName" />
			<input value="1988571858" type="hidden" name="elqSiteId" />
			<input name="elqCampaignId" type="hidden"  />
			<hr>
			<div class="clear">
				<button type="submit">Register</button>
			</div>
			<hr>

			<h3>Important Information</h3>	
			<p>Please read the following information;</p>

			<h3>Janssen Disclaimer</h3>
			<p>If you currently hold or within six months will attain a position to influence purchasing decisions by a government entity or an NHS Trust or Board or any other Institution of a similar nature. You will need to notify the purchase decision-maker of this sponsorship.<br><br>
				If acceptance of this invitation is subject to professional and/or employments rules required either by professional organisations you belong to or by your employer. You will need to obtain such approval before accepting this invitation. It is acknowledged that this invitation has not been determined in a manner which takes into account the volume or value of any business otherwise generated between yourself and the Company, and shall not obligate you to purchase, use, recommend, or arrange for the use of any product of the Company.<br><br>
				This invitation is extended to you only and in keeping with the UK ABPI code of Practice and our company policy. Janssen cannot support the attendance of spouses or partners. Please note that hospitality is only extended to healthcare professionals registered as a delegate at the above meeting.</p>
				<h3>Privacy Policy</h3>
				<p>This website privacy policy describes how Janssen Ltd protects and makes use of the information you give C2events when you use this registration site. If you are asked to provide information when using this registration site, it will only be used in the way described in this privacy policy.<br><br>
					This is the latest version of the privacy policy. If you have any questions regarding the privacy of this registration site please contact Emma Fawcett (C2events) on <a href="mailto:emma.fawcett@c2events.net">emma.fawcett@c2events.net</a> <br><br>
					We gather and use certain information about individuals in order to provide a service to attending delegates. The information we gather is as follows; name, job title, hospital address, ontact details, travel preferences, accommodation requirements and workshop preferences.<br><br>
					Collecting this information allows us to contact you regarding your requirements for the meeting.</p>
					<h3>Cookies Policy</h3>
					<p>This website uses cookies. By using this website and agreeing to the terms and conditions, you consent to the registrations site use of cookies in accordance with the terms of the policy.</p>
					<h3>Copyright Policy</h3>
					<p>All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.</p>
					<h3>Email Permissions</h3>

					<div class="padd-t-b-20">
						<label class="col-12 checkbox">
							<span>I accept the terms and conditions for the email and sms communications</span>
							<input type="checkbox" id="e-mail-p-field" name="email-permission">
						</label>
					</div>

					<p>Your email address and preferred telephone number will be used to provide you with relevant news, research and education in your specialty. Some of this information may be of a promotional nature. Janssen will ensure that your email is only used to share materials that we consider appropriate, relevant and of value to you and will not be passed to any other company. If you agree that the information you provide may be used in this way, it will be governed by our Privacy Policy as per our website: <a href="www.janssen.co.uk" target="_blank">www.janssen.co.uk</a><br><br>
						To stop receiving these communications at any time, please follow the instructions on the latest email you receive from us. </p>
						<h3>Terms and Conditions</h3>
						<p></p>
						<div class="clear">
							<label class="col-12 checkbox">
								<span>I accept the terms and conditions of this page and wish to accept the sponsorship <i>*</i></span>
								<input type="checkbox" id="terms-field" name="terms" required>
							</label>
						</div>

						<hr>
						<h3>Expense Reimbursement</h3>
						<p>Please see the below information supplied by Janssen in regards to expenses reimbursement:<br><br>
							“Janssen fully supports the public disclosure of Transfer of Value (ToV) payments made by pharmaceutical companies to HCPs. It is an important step towards greater transparency and building trust in both the Pharmaceutical industry and the medical community we work with. <br><br>
							Janssen is proud of our close relationships with HCPs, that enable us to bring forward medicines and treatments that help to improve patients’ lives and strongly believe that disclosure is in the best interests of all involved.<br><br>
							To ensure that Janssen is fully transparent, all travel requirements must be booked through AMEX/C2/Ashfield which will ensure all payments are captured correctly and in a timely manner for ToV reporting. Please note that any travel arrangements booked outside of the above will no longer be reimbursed by Janssen.”<br><br>
							We thank you for your continued commitment to disclosure and for ensuring that you communicate this new process with any HCPs we intend to work with.<br><br>
							If you have any questions, please don’t hesitate to contact the Disclosure inbox via the following:<br><br>
							<a href="mailto:Disclosure@janssen.co.uk">Disclosure@janssen.co.uk</a> </p>
							<h3>Public Disclosure of payments to Healthcare Professionals (HCPs): Transfer of Value (ToV)</h3>
							<p>At Janssen we share your passion to bring relief to patients and we do our best to bring innovative treatments for unmet medical needs. Collaboration between pharmaceutical companies, healthcare organisations and individual professionals is essential to achieving these common goals. As part of an industry move towards greater transparency and with the aim of building better relationships with the medical community, pharmaceutical companies will be required to disclose details of certain payments made to HCOs and HCPs. This information will be publicly disclosed in 2017, for payments made to individual HCPs in 2016. This is an industry wide decision with our self-regulatory bodies in the UK & Ireland, the Association of the British Pharmaceutical Industry (ABPI) and Irish Pharmaceutical Healthcare Association (IPHA).<br><br>
								This includes for example the payments we make to you for speaking at and chairing meetings, registration fees, participation at advisory board meetings and remuneration and/or travel and accommodation costs for attendance at meetings. These are commonly described as Transfers of Value (ToV) and these are the payments which will be disclosed.<br><br>
								Janssen is operating an automatic opt-in. This means by accepting a ToV payment or a benefit in kind you are automatically opted in to individual public disclosure for the full calendar year. You can opt out of individual public disclosure. Where this is the case, your ToV payments will still be disclosed on an aggregate and anonymous basis with no individual details disclosed.<br><br>
								For more information, please refer to the attachments and the online information made available by the ABPI and IPHA.<br><br>
								<a href="http://www.abpi.org.uk/our-work/disclosure/Pages/disclosure.aspx" target="_blank">Disclosure</a><br><a href="http://www.ipha.ie/news/latest-news.aspx?article=773ea9a1-ef2f-4397-aa9f-5625b1eff2cd" target="_blank">Latest news</a><br><br>
								For further information on Janssen’s policy on Transfers of Value please visit the following link on our JanssenPro website.<br><br>
								<a class="word-break" href="http://www.janssenpro.co.uk/service/transfer-value" target="_blank">http://www.janssenpro.co.uk/service/transfer-value</a>    </p>


								<hr>


							</form>

							{{> partials/footer}}
						</div>

						<footer class="footer--main">
							<div class="container">
								<div class="links">
									<a href="https://uk.inform.janssenpro.eu/privacy-policy" target="_blank">Privacy&nbsp;Policy</a>
									<a href="https://uk.inform.janssenpro.eu/cookie-policy" target="_blank">Cookie&nbsp;Policy</a>
									<a href="https://uk.inform.janssenpro.eu/legal-notice" target="_blank">Legal&nbsp;Notice</a>
									<a href="https://uk.inform.janssenpro.eu/transfer-of-value" target="_blank">Transfer&nbsp;of&nbsp;Value</a>
									<a href="https://uk.inform.janssenpro.eu/contact-us" target="_blank">Contact&nbsp;us</a>
								</div>
							</div>
						</footer>
					</main>

					{{> layout/footer}}
