{{> layout/header}}

<header>
	
	{{> partials/header-img}}	

</header>

<main>
	<div class="main-container extra-p-t">
		<div class="feedback">
			<div class="report--success">
			<p><strong>Thank you. Your registration has been successful!</strong></p>
			</div>
				
			</div>
			
		

		{{> partials/footer}}
	</div>
<footer class="footer--main">
			<div class="container">
				<div class="links">
					<a href="https://uk.inform.janssenpro.eu/privacy-policy" target="_blank">Privacy&nbsp;Policy</a>
					<a href="https://uk.inform.janssenpro.eu/cookie-policy" target="_blank">Cookie&nbsp;Policy</a>
					<a href="https://uk.inform.janssenpro.eu/legal-notice" target="_blank">Legal&nbsp;Notice</a>
					<a href="https://uk.inform.janssenpro.eu/transfer-of-value" target="_blank">Transfer&nbsp;of&nbsp;Value</a>
					<a href="https://uk.inform.janssenpro.eu/contact-us" target="_blank">Contact&nbsp;us</a>
				</div>
			</div>
		</footer>
</main>

{{> layout/footer}}
